<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <title>Lista de Tramas</title>
</head>
<body>
<th:block layout:fragment="content">
        <h1 class="text-2xl font-bold mb-6">Lista de Tramas</h1>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2">ID</th>
                    <th class="py-2">Nombre</th>
                    <th class="py-2">ID de Definición</th>
                    <th class="py-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="trama : ${tramas}">
                    <td class="border px-4 py-2" th:text="${trama.id}"></td>
                    <td class="border px-4 py-2" th:text="${trama.nombre}"></td>
                    <td class="border px-4 py-2" th:text="${trama.definicionId}"></td>
                    <td class="border px-4 py-2">
                        <a th:href="@{/tramas/vista/{id}(id=${trama.id})}" class="text-blue-500">Ver</a>
                        <a th:href="@{/tramas/vista/edit/{id}(id=${trama.id})}" class="text-yellow-500 ml-2">Editar</a>
                        <a th:href="@{/tramas/vista/delete/{id}(id=${trama.id})}" class="text-red-500 ml-2">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/tramas/vista/new}" class="block text-center text-blue-500 mt-4">Crear Nueva Trama</a>
</th:block>
</body>
</html>