<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Lista de Definiciones</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
<th:block layout:fragment="content">
    <!-- Contenedor principal con menú lateral -->
    <div class="flex flex-1">
        <!-- Contenido principal -->
        <main class="flex-1 p-8 bg-white shadow-md rounded-lg">
            <h1 class="text-3xl font-bold mb-8">Lista de Definiciones</h1>
            <table class="min-w-full bg-gray-100 rounded-lg overflow-hidden">
                <thead class="bg-gray-200">
                <tr>
                    <th class="py-3 px-4 text-left">ID</th>
                    <th class="py-3 px-4 text-left">Nombre</th>
                    <th class="py-3 px-4 text-left">Header TPDU</th>
                    <th class="py-3 px-4 text-left">Path</th>
                    <th class="py-3 px-4 text-left">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="definicion : ${definiciones}" class="border-b">
                    <td class="py-3 px-4" th:text="${definicion.id}"></td>
                    <td class="py-3 px-4" th:text="${definicion.nombre}"></td>
                    <td class="py-3 px-4" th:text="${definicion.headertpdu}"></td>
                    <td class="py-3 px-4" th:text="${definicion.path}"></td>
                    <td class="py-3 px-4">
                        <a th:href="@{/definiciones/vista/{id}(id=${definicion.id})}" class="text-blue-600 hover:underline">Ver</a>
                        <a th:href="@{/definiciones/vista/edit/{id}(id=${definicion.id})}" class="text-yellow-600 hover:underline ml-2">Editar</a>
                        <a th:href="@{/definiciones/vista/delete/{id}(id=${definicion.id})}" class="text-red-600 hover:underline ml-2">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/definiciones/vista/new}" class="block text-center text-blue-600 mt-6 hover:underline">Crear Nueva Definición</a>
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white p-4 mt-6 text-center">
        <p>&copy; 2023 ISO Client Application</p>
    </footer>
</th:block>
</body>
</html>
